
body {

  background: #212121;
  color: #fff;
  font-family: 'Courier New', monospace;
  font-size: 13pt;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
}

#cardContainer {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
}

#front {
  grid-row: 1;
  grid-column: 1;
}


#gameID, #idCode {

  grid-column: 3;
  grid-row: 1;
}

#whoAmI {
  grid-column: 3;
  grid-row: 3;
}

#canvas {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
}

#card1 {
  grid-column: 1;
}

#card2 {
  grid-column: 2;
}

#card3 {
  grid-column: 3;
}

.score {
  grid-row: 3;
  grid-column: 3;
}

.nameDiv {
  grid-row: 3;
  grid-column: 1;
}

#everyone {
  grid-row: 2;
  grid-column: 1;
}

.choices {
  grid-row: 2;
  grid-column: 2;
}

#submit {
    grid-row: 2;
    grid-column: 2;
}

#LIBERAL {
    background:url(../images/liberal.png) no-repeat;
    cursor: pointer;
    width:180px;
    height:257px;
    border-color: #212121;
}

#FASCIST {
    background:url(../images/fascist.png) no-repeat;
    cursor: pointer;
    border-color: #212121;
    width:180px;
    height:257px;
}



button, #submit {
    font-size: 10pt;
    color: #fff;
    font-family: 'Courier New', monospace;
    font-style: italic;
    background-color: #212121;
    border: 1px solid;
}

button:hover {
  color: grey;
}
